.perspective-palette {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--palette-background-color, #FAFAFA);
    padding: 6px;
    font-size: 16px;
    color: #212121;
    border: solid 1px var(--palette-border-color, #CCC);
    border-radius: 2px;
    display: flex;
}

.perspective-palette > * {
    padding: 3px;
}

.disabled-element .djs-visual > * {
    fill-opacity: 0.4;
    stroke-opacity: 0.4;
    opacity: 0.4;
}